.engageMate {
  background-color: palevioletred;
}

.engageMateLogo {
  width: 50vw;
  height: auto;
  padding: 3%;
}

.engageMateByPhotos {
  width: 10%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.engageMateOpeningPage {
  width: 70%;
  height: auto;
  display: inline-block;
  padding: 1%;
}

.featureMenuPhoto {
  width: 40%;
  height: auto;
  display: inline-block;
  padding: 1%;
}

.engageMateExample {
  width: 35%;
  height: auto;
  display: inline-block;
  padding: 1%;
}

.engageMateText {
  margin: 1%;
  padding: 1%;
  text-align: center;
  color: black;
  font-size: 1rem;
}

.featureHeading {
  color: purple;
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: underline;
}

.speakerInstructions {
  color: blue;
  margin: 1%;
  padding: 1%;
  text-align: center;
  font-size: 1rem;
}

.participantInstructions {
  color: yellow;
  margin: 1%;
  padding: 1%;
  text-align: center;
  font-size: 1rem;
}

.bothInstructions {
  color: green;
  margin: 1%;
  padding: 1%;
  text-align: center;
  font-size: 1rem;
}

.instructionColours {
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
}
