.favourites {
  /* background-color: tomato; */
  background-image: url("./gold-silver-bronze-trophy-cup-goblet-podium-pedestal-isolated-white-1st-2nd-3rd-place_180264-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.favouritesByPhoto {
  width: 150px;
  height: auto;
  display: inline;
  padding: 1%;
}

.favouriteText {
  margin: 1%;
  padding: 1%;
  text-align: center;
  color: black;
  font-size: 1em;
}

.favouriteSitePicture {
  display: inline;
  width: 50%;
  height: auto;
}
