.picture {
  width: auto;
  height: 110px;
  margin: 1%;
}

.heading {
  margin: 1%;
  text-align: left;
}

.subHeading {
  margin: 2%;
  text-align: left;
}

.name {
  display: inline;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-align: center;
  /* padding: 1%; */
  display: inline;
}

.aboutMe {
  display: inline;
  margin: 1%;
  padding: 1%;
}

.icon {
  width: 90px;
  height: auto;
}
