.home {
  background-color: white;
  text-align: center;
}

.picture {
  width: auto;
  height: 110px;
  margin: 1%;
}

.heading {
  margin: 1%;
  text-align: left;
}

.subHeading {
  margin: 2%;
  text-align: left;
}

.name {
  display: inline;
}

.homeText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-align: center;
  /* padding: 1%; */
  display: inline;
}

.aboutMe {
  font-size: 90%;
  display: inline;
  margin: 1%;
  padding: 1%;
  vertical-align: middle;
}

.icon {
  margin: 1%;
  padding: 1%;
  width: 10%;
  height: auto;
  display: inline;
}
