#header {
  height: 100px;
  background-color: cornflowerblue;
  font-size: 60px;
  text-align: center;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.clapHands {
  width: 50px;
  height: 50px;
  padding: 1%;
  margin: 1%;
  display: inline;
}

.rainbows {
  width: 100px;
  height: 50px;
  padding: 1%;
  margin: 1%;
  display: inline;
}

.nhs {
  display: inline;
  vertical-align: top;
}
