#header {
  /* height: 100px; */
  background-color: cornflowerblue;
  text-align: center;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.clapHands {
  width: 8%;
  height: auto;
  padding: 1%;
  margin: 1%;
  display: inline;
}

.rainbows {
  width: 10%;
  height: auto;
  padding: 1%;
  margin: 1%;
  display: inline;
}

.nhs {
  font-size: 90%;
  display: inline;
  vertical-align: middle;
}
