.plusMentor {
  background-color: cornsilk;
}

.plusmentorByPhotos {
  width: 150px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.plusMentorLogo {
  width: 50vw;
  height: auto;
}

.plusMentorOpeningPage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
  padding: 1%;
}

.plusMentorPhoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 1%;
}

.plusMentorText {
  margin: 1%;
  padding: 1%;
  text-align: center;
  display: inline-block;
  color: black;
}

.plusMentorPage {
  color: black;
  font-size: 3vh;
  font-weight: bold;
  text-decoration: underline;
}
