.plusMentor {
  background-color: cornsilk;
}

.plusMentorLogo {
  width: 50%;
  height: auto;
}

.plusmentorByPhotos {
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.plusMentorOpeningPage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
  padding: 1%;
}

.plusMentorPhoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 1%;
}

.plusMentorText {
  margin: 1%;
  padding: 1%;
  text-align: center;
  display: inline-block;
  color: black;
  font-size: 1.2rem;
}

.plusMentorPage {
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: underline;
}

.linkHeading {
  margin: 1%;
  padding: 1%;
  text-align: center;
  font-size: 1.3rem;
}

@media only screen and (max-width: 550px) and (orientation: portrait) {
  .plusMentorText {
    margin: 1%;
    padding: 1%;
    text-align: center;
    display: inline-block;
    color: black;
    font-size: 0.8rem;
  }
  .linkHeading {
    margin: 1%;
    padding: 1%;
    text-align: center;
    font-size: 0.9rem;
  }
  .plusMentorPage {
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
  }
  .plusMentorPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 1%;
  }
}
